<a href="https://arxiv.org/a/kozyakin_v_1"><img src="/images/arxiv.png" alt="ArXiv" title="ArXiv" style="width:24px;height:24px;"></a>

<a href="https://github.com/kozyakin"><img src="/images/github.png" alt="GitHub" title="GitHub" style="width:24px;height:24px;"></a>

<a href="https://drive.google.com/drive/folders/0Bxw63g5l4P7pM3JSU0RQTjlGSjQ?resourcekey=0-h4Sb2EpehJVqlHZ_oRIz-A"><img src="/images/google-drive.png" alt="Google Drive" title="Google Drive" style="width:24px;height:24px;"></a>

<a href="https://www.elibrary.ru/author_items.asp?authorid=17407"><img src="/images/elibrary-ru.png" alt="eLibrary.ru" title="eLibrary.ru" style="width:24px;height:24px;"></a>

<a href="https://scholar.google.com/citations?user=QuhA8hoAAAAJ"><img src="/images/google-scholar.png" alt="Google Scholar" title="Google Scholar" style="width:24px;height:24px;"></a>

<a href="https://mathscinet.ams.org/mathscinet/MRAuthorID/208774"><img src="/images/mathscinet.png" alt="MathSciNet" title="MathSciNet" style="width:24px;height:24px;"></a>

<a href="https://mathnet.ru/rus/person17907"><img src="/images/mathnetru.png" alt="Math-Net.Ru" title="Math-Net.Ru" style="width:24px;height:24px;"></a>

<a href="https://orcid.org/0000-0002-6465-0040"><img src="/images/orcid.png" alt="ORCID" title="ORCID" style="width:24px;height:24px;"></a>

<a href="https://www.webofscience.com/wos/author/record/L-2971-2013"><img src="/images/publons.png" alt="Publons" title="Publons" style="width:24px;height:24px;"></a>

<a href="https://researchgate.net/profile/Victor_Kozyakin//"><img src="/images/ResearchGate.png" alt="ResearchGate" title="ResearchGate" style="width:24px;height:24px;"></a>

<a href="https://scopus.com/authid/detail.url?authorId=7003617925"><img src="/images/scopus.png" alt="Scopus" title="Scopus" style="width:24px;height:24px;"></a>

<a href="https://www.semanticscholar.org/author/V.-Kozyakin/32514526"><img src="/images/semantic-scholar.png" alt="Semantic Scholar" title="Semantic Scholar" style="width:24px;height:24px;"></a>

<a href="https://www.webofscience.com/wos/author/record/L-2971-2013"><img src="/images/wos.png" alt="WoS" title="WoS" style="width:24px;height:24px;"></a>

<a href="https://zbmath.org/authors/?q=ai:kozyakin.victor-s"><img src="/images/zbmath.png" alt="zbMATH" title="zbMATH" style="width:24px;height:24px;"></a>
