// Placeholder to allow overriding predefined variables smoothly.

$content-width:    80%;
$spacing-unit:     16px;
$table-zebra-color: transparent;
$base-font-family: Roboto, Helvetica, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", sans-serif;
$code-font-family: "Roboto Mono", "Menlo", "Inconsolata", "Consolas", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;


